@import url("reset.css");

body {
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    padding: 20px 25px;
}

.site-name {
    font-size: 32px;
    color: black;
    cursor: pointer;
    transition: all 0.2s;
}

.site-name:hover {
    color: gray;
}

.menu-link {
    font-size: 24px;
    color: black;
    transition: all 0.2s;
}

.menu-link:hover {
    color: gray;
    text-decoration: underline;
}

.menu-list li {
    display: inline;
    padding: 20px;
}

.main {
    padding: 20px 25px;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.settings-item {
    margin-left: 45px;
    margin-left: 45px;
}

label {
    font-size: 18px;
    margin-right: 5px;
    transition: all 0.2s;
}

label:hover {
    text-decoration: underline;
}

input {
    text-align: center;
    background-color: white;
    width: 50px;
    height: 25px;
    box-shadow: 3px 5px 5px black;;
}

.btn {
    font-size: 18px;
    padding: 20px;
    background-color: orange;
    transition: all 0.2s;
}

.btn:hover {
    background-color: darkorange;
}

.btn:disabled {
    background-color: gray;
}

.line {
    display: flex;
    justify-content: center;
}

.ceil {
    width: 75px;
    height: 75px;
    border: 2px solid orange;
}

.ceil:hover{
    border: 2px solid red;
}

.empty {
    background-color: white;
}

.wall {
    background-color: orange;
}

.start {
    background-color: green;
}

.finish {
    background-color: red;
}

.way {
    background-color: greenyellow;
}